.about {
    font-family: 'Libre Franklin', sans-serif;
    width: 375px;
    text-align: center;
}

#h1-about {
    padding: 25px 0px 19px 0px;
    font-weight: 600;

}
#p-about {
    text-align: justify;
    padding: 0 29px 18px 34px;
    margin-bottom: 10px;
}

body{
    margin:0;
    padding:0;
    box-sizing:border-box

}

footer{
    width: 375px;
    height: 360px;
    background-color: #FFFAF2;
    position: relative;
    
}

.footer-title{
    padding: 26px 0 25px 0;
    width: 100%;

}

.footer-title p{
    margin: 0 auto;
    text-align: center ;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 600;
    font-size: 24px;    
    font-style: normal;
    line-height: 29px;
    color: #333333;

}

.footer-media{
    
    
    padding-left: 42px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-row-gap: 19px;

}

.footer-media a{
    text-decoration: none;
    color:#333333;
    font-weight: 400;
    line-height: 16px;
    font-size: 14px;
    font-family: sans-serif;
    font-style: normal;
    
}

.footer-contact{
    
    font-family: sans-serif;
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    padding: 30px 0 0 42px;
    color:#333333;
   

}

footer img{
    
    position: absolute;
    width: 20px;
    height: 20px;
    top:278px;
    left: 319px;
}

