.skills{
    padding-top: 1em;
    background-color:  #FFFAF2;
    width: 375px;
}
.skills-title{
    text-align: center;
}
.skills-title-h1 {
    margin:  0 1em 0.5em 1em;
}
.skills-img{
    text-align: center;
}
.Portafolio {
    width: 373px;
    height: 275px;
    background-image: url("../assets/bg.png");
    background-color: rgba(198, 108, 73, 0.4);
    background-blend-mode: overlay;
}

.Portafolio-h1 {
    color: white;
    width: 100%;
    height: 29px;
    text-align: center;
    padding: 36px 129px 0 0;

    font-family: Libre Franklin;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
}

.Portafolio-h2 {
    color: white;
    width: 100%;
    height: 24px;
    text-align: center;
    padding: 40px 78px 0 0;

    font-family: Libre Franklin;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
}

.Portafolio-p {
    color: white;
    width: 100%;
    height: 16px;
    text-align: center;
    padding: 6px 96px 0 0;

    font-family: Libre Franklin;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
}

.Portafolio-a {
    color: white;
    text-align: center;
    display: block;
    font-family: Libre Franklin;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
}
.about {
    font-family: 'Libre Franklin', sans-serif;
    width: 375px;
    text-align: center;
}

#h1-about {
    padding: 25px 0px 19px 0px;
    font-weight: 600;

}
#p-about {
    text-align: justify;
    padding: 0 29px 18px 34px;
    margin-bottom: 10px;
}

body{
    margin:0;
    padding:0;
    box-sizing:border-box

}

footer{
    width: 375px;
    height: 360px;
    background-color: #FFFAF2;
    position: relative;
    
}

.footer-title{
    padding: 26px 0 25px 0;
    width: 100%;

}

.footer-title p{
    margin: 0 auto;
    text-align: center ;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 600;
    font-size: 24px;    
    font-style: normal;
    line-height: 29px;
    color: #333333;

}

.footer-media{
    
    
    padding-left: 42px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-row-gap: 19px;

}

.footer-media a{
    text-decoration: none;
    color:#333333;
    font-weight: 400;
    line-height: 16px;
    font-size: 14px;
    font-family: sans-serif;
    font-style: normal;
    
}

.footer-contact{
    
    font-family: sans-serif;
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    padding: 30px 0 0 42px;
    color:#333333;
   

}

footer img{
    
    position: absolute;
    width: 20px;
    height: 20px;
    top:278px;
    left: 319px;
}










 @media all and (max-width: 400px){

    .menu{
        flex-direction: column;
        height: auto;
    }

    .section{
        flex-direction: column;
    }
    .aside{
        display: flex;
        justify-content: center;
    }
    #puenteImg {
        position: relative;
        top: 44px;
    }
}
